<button 
  [type]="type"
  [class]="buttonClasses"
  [disabled]="isDisabled"
  (click)="onClick($event)"
  [attr.aria-busy]="loading"
  [attr.aria-disabled]="isDisabled">
  
  <span class="app-button__content">
    <ion-icon 
      *ngIf="icon && iconPosition === 'start' && !loading" 
      [name]="icon" 
      class="app-button__icon app-button__icon--start">
    </ion-icon>
    
    <span class="app-button__spinner" *ngIf="loading">
      <span class="spinner"></span>
    </span>
    
    <span class="app-button__text" [class.app-button__text--hidden]="loading">
      <ng-content></ng-content>
    </span>
    
    <ion-icon 
      *ngIf="icon && iconPosition === 'end' && !loading" 
      [name]="icon" 
      class="app-button__icon app-button__icon--end">
    </ion-icon>
  </span>
</button>